<section class="content">
  <header class="content__title">
    <h1 class="title__text">myPassion => <span class="text--medium">&#123;<br></span> find great solutions <span
        class="text--medium"><br>&#125;</span></h1>
    <h3 class="title__subtext">Professional + Creative + Curious + Passionate</h3>
  </header>
  <article class="content__container">
    <p>I am a happy, creative and passionate guy from Gijón, Spain. I love creativity, music and coffee. But
      everything is better with people around.</p>
    <p>As a developer, I enjoy finding new solutions for every need. It all starts with research, analysis and
      planification. It all ends by creating cool solutions with creative ideas.
      Also, I believe that <q>less is more</q>, so I am kind of a minimalistic guy!
    </p>
    <p>In my spare time I like to dedicate myself to music production with my fellows, learn new things and share what I
      learn. In high school, I used to teach guitar and help the gamer community testing pc mods, mostly using XML. Some
      months later, I started testing android ROMs. All these things made me start loving to code and made me change my
      previous career. So, I started learning web development 2 years ago and recently completed an awesome Full Stack
      Bootcamp.</p>
    <p>I am a fun person to work with and a great team player. I played basketball in a team, I've been member of many music bands and learned some things collaborating with some devs over the years.</p>
    <p>The main technologies I use are: React, NextJs, Angular, Node, MongoDB, SQL, Sass and PHP.
    </p>
    <h6>* This site was built with Angular and vanilla JS + css animations</h6>
  </article>
</section>