@import '../../shared/styles/styles.import.scss';

.title {
    &__text, &__subtext {
        text-align: center;
        color: $c-gold;
    }
    &__text {
        font-size: 10rem;
        font-weight: $w-bold;
    }
    &__subtext {
        font-size: 3rem;
        font-weight: $w-medium;
    }

}

.text--point {
    color: $c-white;
}

.mail {
    color: $c-gold;
    text-decoration: none;
    // position: fixed;
    // bottom: 10rem;
    @include fadeInAnimation(fadeInRight, 2.2s, ease);
    transition: all 0.2s;
    &:hover {
        color: $c-yellow;
    }
}