<div class="bg-container">
  <div data-parallax>
    <div *ngIf="href === '/'" data-parallax-layer data-depth="15" data-speed="1" class="portrait portrait--home"></div>
    <div *ngIf="href === '/'" data-parallax-layer data-depth="25" data-speed="2" data-rotation class="portrait portrait--home2">hola.</div>
    <div *ngIf="href === '/'" data-parallax-layer data-depth="-20" data-speed="2" data-rotation class="portrait portrait--home3">hello.</div>
    <div *ngIf="href === '/'" data-parallax-layer data-depth="25" data-speed="2" data-rotation class="portrait portrait--home4">bonjour.</div>
    <div *ngIf="href === '/'" data-parallax-layer data-depth="-20" data-speed="2" data-rotation class="portrait portrait--home5">hej.</div>





    <div *ngIf="href === '/about'" data-parallax-layer data-depth="15" data-speed="1" class="portrait portrait--about"></div>
    <div *ngIf="href === '/about'" data-parallax-layer data-depth="20" data-speed="1.5" data-rotation class="portrait portrait--about2"></div>
    <div *ngIf="href === '/contact'" data-parallax-layer data-depth="15" data-speed="1" class="portrait portrait--contact"></div>
  </div>
</div>